/* main container */
main {
    background-color: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: calc(100vh - 100px); /* 100px accounts for padding and header */
}

/* calendar */
.calendar {
    background-color: white;

    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;

    height: 65vh;
    width: 60vh;

    padding: 20px;
    border-radius: 40px;
}

.selectLabel {
    font-size: 1rem;
}

.date-grid {
    background: none;

    display: grid;

    /* create 7x7 grid */
    grid-template-columns: 8vh 8vh 8vh 8vh 8vh 8vh 8vh;
    grid-template-rows:    8vh 8vh 8vh 8vh 8vh 8vh 8vh;
}

/* day of the week span containers */
.date-grid > span {
    display: inline;
    text-align: center;
    font-size: 3vh;
    padding-top: 50%;
}

/* day class */
.day {
    /* TODO: After days in */

    border-color: rgb(150, 150, 150);
    border-style: solid;
    border-width: 1px;
}

/* today class */
.today {
    border-width: 2px;
    border-color: black;
}

.data {
    margin-left: 1vh;
    height: 65vh;
    width: 60vh;
    padding: 20px;
    border-radius: 40px;
}

#pie {
    background-color: rgb(255, 255, 255);
    margin-top: 2vh;
    height: 50vh;
    width: 60vh;
    border-radius: 40px;
}

.key {
    background-color: #FFFF004D;
    padding: 20px;
    border-radius: 40px;
}

input[type=radio] {
    display: none;      /* hide the radio button */
}

.feelingsChoices {
    text-align: center;
}

.key.label {
    display: block;
    width: 4.7vh;
    height: 1.5vh;
    text-align: center;
    font-size: 1.6vh;
}

input + label{
    display: inline-block;
    border-radius: 10px;

    padding: 2vh 2.8vh;
    border: 0;
}

#terrible + label{
    background: #8E6E5E;
    box-shadow: #8E6E5E 1vh 0.8vh 1vh -1vh;
    color: #000000;
}

#bad + label{
    background: #586689;
    box-shadow: #586689 1vh 0.8vh 1vh -1vh;
    color: #000000;
}

#neutral + label{
    background: #F9DEC9;
    box-shadow: #F9DEC9 1vh 0.8vh 1vh -1vh;
    color: #000000;
}

#good + label{
    background: #339989;
    box-shadow: #339989 1vh 0.8vh 1vh -1vh;
    color: #000000;
}

#great + label{
    background: #D7B4F3;
    box-shadow: #D7B4F3 1vh 0.8vh 1vh -1vh;
    color: #000000;
}
