* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #FFFF004D;
    padding: 80px 0 0 0;
}

/* navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
}

header img {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 60px;
}

header .date-today {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-size: 2rem;
    color: #000000;
}

header .to-calendar {
    position: absolute;
    top: 28px;
    right: 30px;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}

header .to-calendar:hover {
    color: #306513;
}

@media (max-width: 720px) {
    header .date-today {
        display: none;
    }
}

/*button*/
button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.25rem;
    background: #F4D772;
    border-radius: 50px;
    box-shadow: #F4D772 10px 10px 15px -10px;
    color: #000000;
    
    padding: 10px 25px;
    border: 0;

    cursor: pointer;
}

button:hover {
    color: #244e0e;
    background: #edcf62;
}
