* {
    font-family: 'Josefin Sans', sans-serif;
}

/* navbar */
body {
    background: #FFFF004D;
    padding: 80px 0 0 0;
}

header {
    /* background-color: #ECB390; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    text-align: center;
}

header img {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 60px;
}

header .date-today {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-size: 3rem;
    color: #000000;
}

header .to-calendar {
    position: absolute;
    top: 28px;
    right: 30px;
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}

header .to-calendar:hover {
    color: #306513;
}

@media (max-width: 720px) {
    header .date-today {
        display: none;
    }
}

/* home page*/
.reflect-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

/*finish page*/
.finish{
    font-size: 6rem;
    padding-top: 200px;
    text-align: center;
    margin-top: 0px;
}

/*button*/
button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.25rem;
    background: #F4D772;
    border-radius: 50px;
    box-shadow: #F4D772 10px 10px 15px -10px;
    color: #000000;
    
    padding: 10px 25px;
    border: 0;

    cursor: pointer;
}

button:hover {
    color: #244e0e;
    background: #edcf62;
}

/* prompt page*/
.howFeeling {
    font-size: 4rem;
    padding-top: 70px;
    text-align: center;
}

input[type=radio] {
    display: none;      /* hide the radio button */
}

.feelingsChoices {
    text-align: center;
}

label {
    display: block;
    width: 60px;
    text-align: center;
}

input + label{
    display: inline-block;
    border-radius: 10px;

    padding: 40px 30px;
    border: 0;

    cursor: pointer;
}

#terrible + label{
    background: #8E6E5E;
    box-shadow: #8E6E5E 10px 10px 10px -10px;
    color: #000000;
}

#bad + label{
    background: #586689;
    box-shadow: #586689 10px 10px 10px -10px;
    color: #000000;
}

#neutral + label{
    background: #F9DEC9;
    box-shadow: #F9DEC9 10px 10px 10px -10px;
    color: #000000;
}

#good + label{
    background: #339989;
    box-shadow: #339989 10px 10px 10px -10px;
    color: #000000;
}

#great + label{
    background: #D7B4F3;
    box-shadow: #D7B4F3 10px 10px 10px -10px;
    color: #000000;
}

#askComment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    font-size: 1.5rem;
}

.getComment {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 70px;
    background: #F4D77266;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 1.5rem;
}