
/*Edit Page Styles*/
.edit-box{
    background-color:#f1de90; /*TODO: Make this the corresponding color to the rating*/
    border-radius: 25px;
    width: 70vw;
    height: 40vw;
    margin:auto;
   display: flex;
   flex-direction: column;
       
}

/*Top of the edit box*/
#topBar button{
    font-size:2vw;
    margin: 0.5vw;
}

#topBar{
    display: flex;
    justify-content: space-between;
}

#updateButton{
    font-size:2vw;
    height: 4vw;
    visibility: hidden;
    margin:auto;
}

/*Body of the edit box*/
#mainEdit{
    margin : auto;
    font-size: 3vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    gap: 3vw;

    
}



/*Rating*/
#ratingRead{
    display: inline;
}
#ratingEdit{
    display: none;
    font-size: 1.5vw;
}

/*Comment*/
#comment{
    margin-top: 2vw;
    font-size: 2vw;
    display: flex;
    flex-direction:column;
    align-self: flex-start;

}
#commentRead{
    display: inline;
    width: 50vw;
    height: 10vw;

}
#commentEdit{
    display: none;
    width: 50vw;
    height: 10vw;
    font-size: 2vw;
    background: #F4D77266;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 1.5rem;
    padding: 0.7rem;
}
